{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/elephants/elephant-detail.css' %}"
/>

<script defer src="{% static 'js/elephant-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="elephant-container">
  <div class="elephant-img">
    <img 
      src="" 
      alt="A skater boy cat"
    >
  </div>
  <div class="elephant-details">
    <h1>{{ elephant.name }}</h1>
    <p>{{ elephant.description }}</p>
    <div class="elephant-actions">
      <a href="{% url 'elephants_update' elephant.id %}" class="btn warn">Edit</a>
      <a href="{% url 'elephants_delete' elephant.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      {% comment %} img? {% endcomment %}
    </div>

    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' elephant.id %}"
      method="post" 
      class="subsection-content"
      >
      {% if elephant.fed_for_today %}
        <p class="fed">{{elephant.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{elephant.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>

    <h3>Past Feedings</h3>
    {% if elephant.feeding_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in elephant.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="subsection-content">
        <p>{{elephant.name}} has never been fed</p>
      </div>
    {% endif %}
  </section>

  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      
    </div>
    <h3>{{ elephant.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if elephant.toys.count %}
        {% for toy in elephant.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{cat.name}} doesn't have any toys</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give toy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{elephant.name}} already has all the available toys
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}