{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/elephants/elephant-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Elephants List</h1>
</section>

<section class="card-container">
  {% for elephant in elephants %}
  <a href="{% url 'elephants_detail' elephant.id %}">
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          {% if elephant.photo.url %}
            <img 
              src="{{ elephant.photo.url }}" 
              alt="A photo of {{ elephant.name }}"
              class="usr-img"
            >
          {% else %}
            <img 
              src="{% static 'images/logo-elephant.png' %}" 
              alt="A cute elephant"
              class="usr-img"
            >
          {% endif %}
        </div>
        <h2 class="card-title">{{ elephant.name }}</h2>
        <p><small>{{ elephant.description }}</small></p>
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}